body {
  font-family: Consolas;
  background-color: #0d1117;
  color: #c9d1d9;
}
h1 {
  color: cadetblue;
}
a {
  color: #c9d1d9;
  text-decoration: none;
}
a:hover {
  color: rgb(38, 115, 184);
  font-size: 20px;
  font-weight: bold;
}
a::after {
  content: "😂";
}
ul > li {
  font-weight: bold;
  text-shadow: 3px 3px 2px #58a6ff;
}
ul li:hover {
  color: #4f8cc9;
  text-shadow: 3px 3px 2px #8b949e;
}

ul li:nth-child(3) {
  background-color: #21262d;
}

ul li::before {
  content: "🚀 ";
}

p::first-letter {
  font-size: 200%;
  color: #ff7b72;
}
