body {
  font-family: Consolas;
  background-color: #0d1117;
  color: #c9d1d9;
}
h1 {
  color: cadetblue;
}
a {
  color: #c9d1d9;
  text-decoration: none;
}
a:hover {
  color: rgb(38, 115, 184);
  font-size: 20px;
  font-weight: bold;
}
a::after {
  content: "😂";
}
